<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	   
	<!-- freemarker View Resolver -->
	<bean id="freemarkerResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"> 
        <property name="cache" value="false" /> 
        <property name="prefix" value="" /> 
        <property name="suffix" value=".ftl" /> 
        <property name="requestContextAttribute" value="requestContext"/> 
        <property name="contentType" value="text/html;charset=UTF-8"></property>
        <property name="viewClass">
			<value>org.springframework.web.servlet.view.freemarker.FreeMarkerView</value>
		</property>         
    </bean>
    
	<bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
	 <property name="location" value="classpath:freemarker.properties"/>  
	</bean> 
	
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="templateLoaderPath" value="/WEB-INF/templates/"/> 
		<property name="freemarkerSettings" ref="freemarkerConfiguration"/> 
	</bean>
</beans>