<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	   
	<bean id="joyGlobalConfig" class="com.joy.web.common.config.PropertyConfig" init-method="load" scope="singleton">
		<property name="configFileName">
			<value>joy-config.properties</value>
		</property>
	</bean>
	
	<bean class="com.joy.web.common.config.ContextUtils" init-method="init">
	</bean>
</beans>
